/* Common styles  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,500;0,600;0,800;0,900;1,400;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ccc;
    padding-right: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common styles end */

/* Menu  */
.menu{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    transition: all 0.5s;
    flex-direction: column;
    cursor: pointer;
   
}

.menu.change{
    left: 15vw;
    transform: rotate(45deg);
}

.menu-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 3px;
    box-shadow: 1px 1px 3px #222;
    transition: transform 0.5s;
}

.change .menu-line-1{
    transform: rotate(270deg) translateX(-10px);
   
}

.change .menu-line-2{
    transform: rotate(360deg) translateY(0px);
}
/* Menu end */

/* Navbar */
.navbar{
    width: 15vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: -15vw;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 40px;
    z-index: 10;
    transition: left 0.5s;
}

.navbar.change{
    left: 0;
}

.navbar-link{
    font-size: 15px;
    margin: 20px 0;
    font-weight: 600;
    color: #777;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-link:hover{
    color: #111;
}
/* Navbar end */

/* Common Section styles  */
.wrapper{
    width: 100%;
    perspective: 500px; 
}

section{
    min-width: 1200px;
    min-height: 100vh;
    background-color: #efefef;
    position: relative;
    left: 0;
    margin-bottom: 30px;
    transform-origin: left;
    box-shadow: 5px 5px 10px #aaa;
    padding: 50px 0;
    transition: left 0.5s, transform 0.5s;
}

section.change{
    left: 15vw;
    transform: rotateY(10deg);
}

.section-heading{
    font-size: 100px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 100px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 3px 3px 5px #555;
}
/* Common Section styles end */

/*  Section 1  */
.section-1{
  flex-direction: column;
  background: url(images/bg-section1.jpg) center no-repeat;
  background-size: cover;
}

.section-1 .section-1-heading{
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 
    10px 10px 10px #000,
    20px 20px 20px #111,
    30px 30px 30px #222;
}

.section-1-img{
    width: 70%;
}
/*  Section 1 end */

/* Section 2 */
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card{
    width: 500px;
    margin:3px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 6px 6px 6px #bbb;
    transition: box-shadow 0.5s;
    position: relative;
}

.card:hover{
    box-shadow: 8px 8px 8px #bbb; 
}

.car-name{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.card img{
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.card:hover .card-img{
    opacity: 1;
}

.car-price{
    font-size: 18px;
    color: #777;
    margin: 5px 0;

}

.card-btn{
    width: 100%;
    background-color:#fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 5px #bbb;
    cursor: pointer;
}
/* Section 2 end */

/* Section 3 */
.section-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #222;
}
.video{
    width: 25%;
    margin: 0 20px;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 3px 3px 5px #111;
    transition: all 0.5s;
}

.video:hover{
    opacity: 1;
    box-shadow: 5px 5px 10px #111;
}
/* Section 3 end */

/*Section 4 */
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.gallery{
    margin: 150px 0;
    perspective: 100px;
   

}

.gallery-shelf{
    width: 80%;
    height: 30px;
    background-color: rgba(38,126,199,0.8);
    margin: auto;
    position: relative;
    box-shadow: 10px 10px 50px #444;
}

.gallery-shelf:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: rgba(34,152,248,0.7);
    top: -130px;
    transform: rotateX(10deg);
    transform-origin: bottom;
}

.gallery img{
    width: 15%;
   position: absolute;
   bottom: 60px;
   transform: translateX(-50%) rotateX(0.5deg);
   box-shadow: 2px -2px 5px #888;
   border-radius: 5px;
   transform-origin: bottom;
   transition: all 0.3s;
}

.gallery img:hover{
    transform: translateX(-50%) rotateX(0);
    box-shadow: 0 2px 3px #888;
}

.gallery-img-1{
    left: 50%;
}

.gallery-img-2{
    left: 30%;
}

.gallery-img-3{
    left: 70%;
}
.gallery-img-4{
    left: 50%;
}

.gallery-img-5{
    left: 30%;
}

.gallery-img-6{
    left: 70%;
}
/*Section 4 end */

/* Section 5 */
.section-5{
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(./images/bg-section5.jpg) center no-repeat;
    block-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 0;
}

.contact-form{
    width: 600px;
    height: 450px;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #fff;
    font-size: 15px ;
    letter-spacing: 1px;
    color: #fff;
    flex-shrink: 0;
    transition: background-color 0.5s ;
}

.contact-form textarea{
    max-width: 100%;
    max-height: 120px;
}

.form-input:focus{
    background-color: rgba(255,255,255,0.5);
}

.contact-form .form-btn{
    background-color: rgba(255,255,255,0.8);
    letter-spacing: 3px;
    font-weight: 600;
    color: #444;
    cursor: pointer;
}

.copyright{
   font-weight: 300;
   font-size: 20px;
   color: #fff;
   text-align: center; 
}
/* Section 5 end */

